<%= turbo_frame_tag message do %>
  <p id="<%= dom_id message %>">
    <%= message.created_at.to_s(:short) %>:
    <%= message.content %>
    <%= link_to "Edit", edit_room_message_path(message.room, message) %>
  </p>
<% end %>

